/*----
/*  02.3 Button Elements CSS
/*----------------------------------------*/
.btn {
    line-height: 24px;

    padding: 10px 30px;

    border-radius: 0;
}

.btn-lg {
    padding: 20px 35px;
}