/* Job Category Slider */
.job-category-slider {
    & .slick-list {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* Job Category */
.job-category {
    display: flex !important;
    align-items: center;
    justify-content: center;

    height: 190px;

    transition: all 0.3s ease 0s;
    text-align: center;

    & .inner {
        & i {
            font-size: 50px;
            line-height: 1;

            display: block;
        }

        & .title {
            font-size: 14px;
            font-weight: 600;

            margin-top: 20px;
            margin-bottom: 0;

            text-transform: uppercase;

            color: inherit;
        }
    }
    &.slick-slide {
        margin-left: 15px;
        margin-right: 15px;
    }
}

[class*="bg-"]:not(.bg-warning).job-category {
    color: $white;
}

[class*="bg-warning"].job-category {
    color: #333;
}